{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> {{subjudul}} </title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static app_css %}">
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/" title=""> Home </a>
            </li>
            <li>
                <a href="/blog" title=""> Blog </a>
            </li>
            <li>
                <a href="/category" title=""> Category </a>
            </li>
            
        </ul>
    </nav>

    <h2> {{subjudul}} </h2>
    <p> My playlist : here's recently playlist (Kdrama, Movies, etc..) </p>
    
</body>
</html>